<section class="header-section layout-centered mod-white-text u-center-text">
	<div class="layout-centered-content"> 
		<h1>Fitnesspal helps to keep you and your team more organzied and inspired all the time.</h1> 
		<p>Fitnesspal’s events, teams and boards enable you to organize and prioritize your run in a fun, flexible and rewarding way. </p>
		<button type="button" class="btn btn-success btn-lg">Sign Up – It’s Free.</button>
	</div>   
	<div class="layout-centered-content"> 
		<p class="small">Already use Fitnesspal? <a href="/login" data-track="Login">Log in.</a> </p> 
	</div>
</section>
<section class="card-detail layout-centered mod-white-text u-center-text background-red"> 
	<div class="layout-centered-content" style="max-width: 630px;"> 
		<h2>Get Inspired often</h2> 
		<p class="quote">{{currentQuote.saying}}</p> 
	</div> 
	<picture>  
		<img src="{{currentQuote.picture}}"> 
	</picture> 
</section>
<section class="dream-teams layout-two-up mod-image-right mod-white-text background-orange-sun"> 
	<div class="layout-two-up-content"> 
		<div class="layout-two-up-content-text" style="order:1;">
			<h2>Workout With Team</h2> 
			<p>Whether it’s for weekend workout, a morning workout or even the next big marathon, Fitnesspal helps your team stay organized.</p>
			<button type="button" class="btn btn-success btn-lg">Create Your Team</button> 
		</div> 
		<div class="layout-two-up-content-image" style="order:2;"> 
			<picture>  
				<img src="assets/vendor/images/log.jpg" width="846" alt="Create boards for all the teams in your life - at work, at home, and everything in between."> 
			</picture> 
		</div> 
	</div> 
</section>
<section class="power-ups layout-two-up mod-white-text background-light-purple"> 
	<div class="layout-two-up-content"> 
		<div class="layout-two-up-content-text"> 
			<h2>A Logging Platform</h2> 
			<p>You can log your workout and stay tuned to all the events with Fitnesspal!</p> 
			<button type="button" class="btn btn-primary btn-lg">Log Your Workout</button>
		</div> 
		<div class="layout-two-up-content-image u-center-text"> 
			<picture> 	 
				<img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/b45c8bccde359af6cf2369ddb126ad4f/usecases-powerups.jpg" width="580" alt="Trello integrates with apps you already love to use: Slack, Github, Evernote, Google Drive, and much more."> 
			</picture> 
		</div> 
	</div> 
</section>
<section class="layout-centered u-center-text"> 
    <div class="layout-centered-content"> 
        <p>What are you waiting for?<br> <b>Sign up for free</b> and become one of the millions of people around the world who have fallen in love with FitnessPal. </p>
		<button type="button" class="btn btn-success btn-lg">Sign Up – It’s Free.</button>   
    </div>   
    <div class="layout-centered-content"> 
      <p class="small">Already use FitnessPal? <a href="/login" data-track="Login">Log in.</a> </p> 
    </div>  
</section>